.Product-Card{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    box-shadow: 4px 5px 8px -1px #00000075;
    transition: scale 0.2s;
}

.Product-Card:hover{
    scale: 1.02;
}
.product-image-div{
    border-radius: 10px 10px;
    overflow: hidden;
}
.Product-Card img{
    width: 100%;
    height: 100%;
}
.product-card-details{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: white;
}
.product-card-details h2{
    margin-bottom: 5px;
}