.CartPage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.empty-cart-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    gap: 20px;
    margin-top: 30%;
}
.empty-cart-section h2{
    font-size: 24px;
}
.empty-cart-section a{
    color: white;
    background-color: #222222;
    font-size: 24px;
    padding: 1rem 2rem;
    border-radius: 14px;
}
.cartPage-header{
    display: flex;
    justify-content: center;
    color: #7fffd4;
    width: 100%;
    background-color: black;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.cartItemsList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subTotalSection{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
}
.subTotal{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.subTotal span{
    font-weight: 900;
}
.checkout-btn{
    font-size: 20px;
    font-weight: 900;
    border: none;
    color: white;
    padding: 20px;
    background-color: #222222;
    border-radius: 50px;
}
.checkout-btn:hover{
    background-color: black;
}
.checkout-btn:active{
    scale: 0.98;
}