.sidebar{
    background-color: black;
    height: 100%;
    padding:40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 30px;
    margin-right: 16px;
}
.sidebar > h1{
    color: white;
}
.sidebar > ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}
.sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar a:hover{
    color: #0ff;
}
.sidebar-link{
    display: flex;
    gap: 20px;
}
.icon{
    width: 20px;
    color: white;
}
.bottom-links{
    color: white;
    list-style: none;
    margin-top: auto;
}